* {
  margin: 0;
  font-family: 'NanumSquare', sans-serif;
}

.container .logo {
  font-size: 55px;
  font-weight: 500px;
}

ul {
  list-style-type: none;
}

.container .nav {
  display: flex;
}

.navbar {
  height: 80px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul li {
  margin-left: 40px;
  padding-right: 25px;
}

.navbar .nav li a {
  font-size: 25px;
}

.navbar .logo {
  padding: 50px;
  color: rgb(255, 255, 255, 0.9);
}

.navbar a {
  color: rgb(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ccc;
}

#back {
  background-image: url('../img/API.jpg');
  background-size: cover;
  background-position: center;
}

#showcase {
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  min-height: 600px;
  color: rgb(255, 255, 255, 0.9);
  background-size: cover;
  background-position: center;
}

#showcase .container2 {
  float: center;
  text-align: center;
}

#showcase h1 {
  font-size: 95px;
  text-align: left;
  position: relative;
  margin-top: 50px;
  margin-left: 70px;
}

.container1 {
  width: 45%;
  margin-top: 20px;
}

.container2 {
  width: 45%;
  margin-top: 60px;
}

.accordion {
  display: block;
  overflow: hidden;
  margin-bottom: 1rem;
}

.accordion-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.accordion .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: left;
  background-color: #f8f9fa;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-body {
  background-color: #f8f9fa;
  padding: 10px;
}

.accordion-body,
.accordion-button {
  width: 100%;
}

.accordion .accordion-button p {
  margin: 0;
}

.accordion-button p {
  font-size: 15px;
  font-weight: 1000;
}

.accordion .accordion-collapse {
  overflow: hidden;
  transition: height 0.3s ease;
}

.accordion .accordion-collapse.collapse {
  display: none;
}

.accordion .accordion-collapse.show {
  display: block;
}

.accordion-body .text-center {
  text-align: left;
  font-size: 13px;
  text-indent: 15px;
  margin-bottom: 10px;
  font-weight: 400;
  color: black;
}

.accordion-button:hover {
  color: #656565;
}

footer {
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
}

.accordion-item {
  overflow: hidden;
}

.accordion-button {
  position: relative;
}

.accordion-button::after {
  content: '\02796'; /* Unicode character for "plus" sign (+) */
  font-size: 1.5rem;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease, color 0.3s;
}

.accordion-button.collapsed::after {
  content: '\02795'; /* Unicode character for "minus" sign (-) */
  transform: translateY(-50%) rotate(-90deg);
}

.accordion-collapse {
  transition: height 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-sizing: border-box;
  z-index: 1;
  padding: 0; /* 패딩 제거 */
}

.dropdown-content a {
  color: black;
  padding: 10px 0; /* 좌우 패딩을 0으로 설정 */
  text-decoration: none;
  display: block;
  text-align: left;
  text-indent: 10px;
}

.dropdown-content a:hover {
  background-color: gray;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  margin-left: 0 !important;
  padding-right: 0 !important;
}

.dark-mode {
  background-color: #111;
  color: #fff;
}

.dark-mode .navbar {
  background-color: #222;
}

.dark-mode .content {
  color: #ccc;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px 0;
  clear: both;
}

#showcase h1 {
  display: inline-block;
  animation: showOneByOne 3s linear forwards;
  opacity: 0;
}

@keyframes showOneByOne {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  nav.navbar {
    text-align: center;
  }
  nav.navbar .container {
    flex-direction: column;
  }
  nav.navbar .container .nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  nav.navbar .container .nav li {
    margin-bottom: 0.5rem;
  }
}
